@import url('https://fonts.googleapis.com/css2?family=Coda&family=Rubik:ital,wght@0,400;0,700;1,700&display=swap');

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root {
  isolation: isolate;
}

/* ======================================== */

:root {
  --pg: #0f160d;
  --bg: #162113;
  --dark-bg: #080d07;
  --text-dark: #25371f;
  --text-dim: #5c8456;
  --text-reg: #a3d391;
  --text-bright: #e2fcde;
  --text-type-1: 'Coda', sans-serif;
  --text-type-2: 'Rubik', sans-serif;
  --text-xs: 12px;
  --text-sm: 14px;
  --text-base: 18px;
  --text-lg: 24px;
  --text-xl: 36px;
  --text-4xl: 96px;
  --rank-x: #FE3AFE;
  --rank-u: #FF3312;
  --rank-s: #FFCC3A;
  --rank-a: #56B164;
  --rank-b: #4457B6;
  --rank-c: #70388A;
  --rank-d: #907591;
  --rank-unknown: #959595;
}

body {
  background-color: var(--pg);
  font-family: var(--text-type-1);
  color: var(--text-reg);
}

.container {
  width: 80%;
  min-width: 1100px;
  margin: auto;
}

/* ================ LeaderboardPage ============== */

.leaderboard-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  padding-top: 30px;
}

.header-name {
  display: flex;
  align-items: center;
}

.header-title {
  font-family: var(--text-type-2);
  font-size: var(--text-xl);
  text-transform: uppercase;
  margin-right: 1rem;
}

.header label {
  color: var(--text-dim);
}

.header select {
  padding: 12px;
  margin-left: 20px;
  background-color: var(--dark-bg);
  border-style: none;
  border-radius: 4px;
  color: var(--text-reg);
  font-size: var(--text-base);
  width: 300px;
}

.leaderboard-sep {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: var(--text-reg);
  height: 1px;
  border: 0;
}

.leaderboard-table {
  width: 100%;
  font-size: var(--text-base);
  text-align: center;
  border-spacing: 0 5px;
}

.leaderboard-table th, .leaderboard-table td {
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06), 0 1px 3px rgba(0, 0, 0, 0.1);
}

.leaderboard-table thead tr {
  background-color: var(--dark-bg);
}

.leaderboard-table tbody tr {
  background-color: var(--bg);
}

.important {
  font-family: var(--text-type-2);
  color: var(--text-bright);
  text-transform: uppercase;
  font-weight: bold;
}

.link {
  color: inherit;
  text-decoration: none;
}

.link:hover {
  color: white;
}

.extra {
  font-size: var(--text-sm);
  color: var(--text-dim);
}

.rank {
  font-style: italic;
  text-transform: uppercase;
}

.rank-x { color: var(--rank-x); }
.rank-u { color: var(--rank-u); }
.rank-s { color: var(--rank-s); }
.rank-a { color: var(--rank-a); }
.rank-b { color: var(--rank-b); }
.rank-c { color: var(--rank-c); }
.rank-d { color: var(--rank-d); }
.rank-unknown { color: var(--rank-unknown); }
.rank-lg { font-size: var(--text-lg); }
.rank-xl { font-size: var(--text-4xl); }

.btn-load {
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--text-reg);
  background-color: var(--pg);
  text-decoration: underline;
  border-style: none;
  cursor: pointer;
}

.btn-load:hover {
  color: var(--text-bright);
}

/* ============================================= */

/* ================ PlayerProfile ============== */

.container-2 {
  width: 70%;
  margin: auto;
}

.profile-header {
  display: flex;
  justify-content: space-between;
}

.friends {
  display: flex;
  align-items: center;
}

.friend-icon {
  width: var(--text-lg);
}

.card {
  background-color: var(--bg);
  border-radius: 4px;
}

.card-content {
  width: 90%;
  margin: auto;
}

.profile-details {
  display: flex;
  align-items: stretch;
  gap: 2rem;
}

@media (max-width: 700px) {
  .profile-details {
    flex-direction: column;
  }
}

.left {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.left .card {
  flex-grow: 1;
}

.right {
  flex: 2 1 0;
}

.right .card {
  height: 100%;
}

.profile-picture {
  width: 100%;
  border-radius: 4px;
}

.info {
  display: flex;
  align-items: center;
  font-size: var(--text-sm);
}

.info-name {
  text-transform: uppercase;
}

.info-divider {
  flex-grow: 1;
  border-bottom: 1px solid var(--text-dark);
  margin: 7px;
}

.info-value {
  color: var(--text-bright);
  font-family: var(--text-type-2);
  font-weight: bold;
}

.info-extra {
  color: var(--text-dim);
  margin-left: 5px;
}
